<header class="header-global">
  <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-md navbar-theme-dark headroom--not-top navbar-light">
    <div class="container position-relative">
      <a class="navbar-brand me-lg-5" href="*">
        <img class="navbar-brand-dark" src="assets/img/brand/light.png" alt="Logo light">
        <img class="navbar-brand-light" src="assets/img/brand/dark.png" alt="Logo dark">
      </a>
      <div class="navbar-collapse collapse me-auto" id="navbar_global">
        <div class="navbar-collapse-header">
          <div class="row">
            <div class="col-6 collapse-brand">
              <a routerLink="/home">
                <img src="assets/img/brand/dark.png" alt="eBank logo">
              </a>
            </div>
          </div>
        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
          <li class="nav-item">
            <a routerLink="/home" class="nav-link"  aria-expanded="false">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/customers" class="nav-link" aria-expanded="false">
              Customers
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/accounts" class="nav-link">
              Accounts
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/customer_accounts" class="nav-link" aria-expanded="false">
              Customer Accounts
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a href="*" target="_blank" class="btn btn-outline-white d-none d-lg-inline me-md-3"> Sign In</a>
        <a routerLink="/login" target="_blank" class="btn btn-tertiary">LogIn</a>
        <button class="navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </nav>
</header>

<br><br><br><br>
