<main class="page-error">
  <div class="container">
    <section class="error-section center-horizontal-absolute ">
      <h1 class="error-code center-horizontal-absolute">404</h1>
      <br><br>
      <p class="error-message">Sorry, the page you are looking for could not be found.</p>
      <img src="assets/img/404.png" alt="page not found" class="error-img" style="height: 300px">
      <br><br>
      <a routerLink="/home" class="btn btn-info btn-error-action center-horizontal-absolute">Return Home</a>
    </section>
  </div>
</main>
