<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="template">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Home</title>
</head>
<body>
        <div layout:fragment="content">
            <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3" >
                <div class="ms-auto">
                    <div class="btn-group" sec:authorize="hasAuthority('ADMIN')">
                        <a th:href="@{/admin/new(keyword=${keyword}, page=${currentPage})}" type="button" class="btn btn-outline-primary">Add Student</a>
                    </div>
                </div>
            </div>

            <div class="card radius-10 w-100">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <h6 class="mb-0">Students</h6>
                    </div>
                    <div class="table-responsive mt-2">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                            <tr>
                                <th>#ID</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>BirthDay</th>
                                <th>Email</th>
                                <th>Sexe</th>
                                <th>En Regle</th >
                                <th></th >
                            </tr>
                            </thead>
                            <tbody>
                            <tbody>
                            <tr th:each="student:${students}">
                                <td class="row" th:text="${student.id}" style="display:table-cell;"></td>
                                <td th:text="${student.firstname}"></td>
                                <td th:text="${student.lastname}"></td>
                                <td th:text="${student.birthDay}"></td>
                                <td th:text="${student.email}"></td>
                                <td th:switch="${student.sexe}">
                                    <p th:case="${T(com.example.activity1.entities.Sexe).MALE}"><span class="badge alert-primary">male</span></p>
                                    <p th:case="${T(com.example.activity1.entities.Sexe).FEMALE}"><span class="badge alert-danger">female</span></p>
                                </td>
                                <td th:text="${student.inRegle? 'Yes' : 'No'}">
                                </td>
                                <td>
                                    <div class="d-flex align-items-center gap-3 fs-6" sec:authorize="hasAuthority('ADMIN')">
                                        <a th:href="@{/admin/edit(id=${student.id}, keyword=${keyword}, page=${currentPage})}" class="text-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="" data-bs-original-title="Edit info" aria-label="Edit"><ion-icon name="pencil-sharp"></ion-icon></a>
                                        <a type="button" class="text-danger" th:with="url = @{/admin/delete(id=${student.id})}" th:onclick="sendDelete([[${url}]])"><ion-icon name="trash-sharp"></ion-icon></a>
                                    </div>
                                </td>
                            </tr>
                            <tr th:if="${students.size()==0}">
                                <td>
                                     There is no students !
                                </td>
                            </tbody>
                        </table>
                        <br>
                        <ul class="nav nav-pills justify-content-center">
                            <li th:each="page, status:${pages}">
                                <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                                   th:text="${status.index}"
                                   th:href="@{home(page=${status.index}, keyword=${keyword})}"
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div layout:fragment="script">
             <script th:inline="javascript">
                 function sendDelete(url){
                     swal({title: "Delete", text: "Are you sure ?",
                             type: "warning",
                         buttons: {
                                cancel: "No",
                                delete: "Yes",
                         },
                            showCancelButton: true,
                             confirmButtonColor: "#DDDDDD",
                             closeOnConfirm: true,
                             closeOnCancel: true })
                         .then((isConfirm)=>{
                             switch (isConfirm) {
                                 case "delete":
                                     const xhttp = new XMLHttpRequest();
                                     xhttp.open("DELETE", url, true);
                                     xhttp.onload = function () {
                                         let responseURL = xhttp.responseURL;
                                         console.log("Redirecting to:", responseURL);
                                         window.location.replace(responseURL);
                                     };
                                     xhttp.send();
                                     swal("Student successfully deleted!");
                                     break;
                                 case "cancel" :
                                     swal("Student isn't deleted !");
                                     break;
                             }
                         })

                 }

            </script>
        </div>
    </body>
</html>