<!DOCTYPE html>
<html lang="en" class="semi-dark"
      xmlns:th="http://www.thymleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/assets/css/pace.min.css}" rel="stylesheet" />
    <script th:src="@{/assets/js/pace.min.js}"></script>

    <link th:href="@{/assets/plugins/simplebar/css/simplebar.css}" rel="stylesheet" />
    <link th:href="@{/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css}" rel="stylesheet" />
    <link th:href="@{/assets/plugins/metismenu/css/metisMenu.min.css}" rel="stylesheet" />

    <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/css/bootstrap-extended.css}" rel="stylesheet">
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link th:href="@{/assets/css/icons.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">


    <link th:href="@{/assets/css/dark-theme.css}" rel="stylesheet" />
    <link th:href="@{/assets/css/semi-dark.css}" rel="stylesheet" />

    <title>Student Management</title>
</head>
<body>

<div class="wrapper">

    <!--start sidebar -->
    <aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
            <div>
                <h4 class="logo-text">Students Management</h4>
            </div>
            <div class="toggle-icon ms-auto"><ion-icon name="menu-sharp"></ion-icon>
            </div>
        </div>

        <ul class="metismenu" id="menu">
            <li>
                <a th:href="@{/home}">
                    <div class="parent-icon"><ion-icon name="home-sharp"></ion-icon>
                    </div>
                    <div class="menu-title">Home</div>
                </a>
            </li>
            <li sec:authorize="hasAuthority('ADMIN')" class="menu-label">Security</li>
            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="javascript:;">
                    <div class="parent-icon"><ion-icon name="person-circle-sharp"></ion-icon>
                    </div>
                    <div class="menu-title">Users</div>
                </a>
            </li>

            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="javascript:;">
                    <div class="parent-icon"><ion-icon name="briefcase-sharp"></ion-icon>
                    </div>
                    <div class="menu-title">Roles</div>
                </a>

            </li>
        </ul>
    </aside>

    <header class="top-header">
        <nav class="navbar navbar-expand gap-3">
            <div class="mobile-menu-button"><ion-icon name="menu-sharp"></ion-icon></div>
            <form class="searchbar" method="get" th:action="@{/home}">
                <div class="position-absolute top-50 translate-middle-y search-icon ms-3"><ion-icon name="search-sharp"></ion-icon></div>
                <input type="text" name="keyword" class="form-control" th:value="${keyword}" placeholder="Search Student...">
                <div class="position-absolute top-50 translate-middle-y search-close-icon"><ion-icon name="close-sharp"></ion-icon></div>
            </form>
            <div class="top-navbar-right ms-auto">

                <ul class="navbar-nav align-items-center">
                    <li class="nav-item mobile-search-button">
                        <a class="nav-link" href="">
                            <div class="">
                                <ion-icon name="search-sharp"></ion-icon>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dark-mode-icon" href="javascript:;">
                            <div class="mode-icon">
                                <ion-icon name="moon-sharp"></ion-icon>
                            </div>
                        </a>
                    </li>

                    <li class="nav-item dropdown dropdown-user-setting">
                        <a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="javascript:;" data-bs-toggle="dropdown" sec:authorize="isAuthenticated()">
                            <div class="user-setting">
                                <!--<img sec:authorize="hasAuthority('ADMIN')" class="user-img" alt="" th:src="@{/assets/images/avatars/admin.png}">-->
                                <!--<img sec:authorize="hasAuthority('User')  && !hasAuthority('ADMIN')" class="user-img" alt="" th:src="@{/assets/images/avatars/user.png}">-->
                                <img class="user-img" alt="" th:src="@{/assets/images/avatars/picture.png}">
                            </div>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" sec:authorize="isAuthenticated()">
                            <li>
                                <a class="dropdown-item" href="javascript:;" >
                                    <div class="d-flex flex-row align-items-center gap-2" >
                                        <!--<img sec:authorize="hasAuthority('ADMIN')" th:src="@{/assets/images/avatars/admin.png}" alt="" class="rounded-circle" width="54" height="54">-->
                                        <!--<img sec:authorize="hasAuthority('USER') && !hasAuthority('ADMIN')" th:src="@{/assets/images/avatars/user.png}" alt="" class="rounded-circle" width="54" height="54">-->
                                        <img class="user-img" alt="" th:src="@{/assets/images/avatars/picture.png}">
                                        <div class="">
                                            <h6 class="mb-0 dropdown-user-name" sec:authentication="name"></h6>
                                            <small class="mb-0 dropdown-user-designation text-secondary" sec:authentication="principal.authorities"></small>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" th:href="@{/logout}">
                                    <div class="d-flex align-items-center">
                                        <div class=""><ion-icon name="log-out-outline"></ion-icon></div>
                                        <div class="ms-3" ><span>Logout</span></div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul sec:authorize="!isAuthenticated()">
                            <div class="nav-item" >
                                <a class="btn btn-primary" th:href="@{/login}" role="button">
                                    <span>LOGIN</span>
                                </a>
                            </div>
                        </ul>
                    </li>

                </ul>

            </div>
        </nav>
    </header>

    <div class="page-content-wrapper">
        <div class="page-content">

            <!--Content-->
            <div class="container">
                <section layout:fragment="content">

                </section>

            </div>
            <!---->
        </div>

    </div>

    <div class="overlay nav-toggle-icon"></div>

</div>


<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/plugins/simplebar/js/simplebar.min.js}"></script>
<script th:src="@{/assets/plugins/metismenu/js/metisMenu.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>

<script th:src="@{/assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js}"></script>
<script th:src="@{/assets/plugins/chartjs/chart.min.js}"></script>
<script th:src="@{/assets/js/index.js}"></script>

<script th:src="@{/assets/js/main.js}"></script>

<br>
</body>
</html>