<div class="container mt-2">

    <div class="col">
      <div class="card">
        <div class="card-header">Accounts</div>
        <div class="card-body">

          <form [formGroup]="accountFormGroup" (ngSubmit)="handleSearchAccounts()">

            <label class="">Account ID : </label>
            <div class="input-group">
              <input type="text" formControlName="accountId" class="form-control">
              <button class="btn btn-primary btn-sm"><i class="fa fa-search"></i></button>
            </div>
          </form>
          <br>
          <br>
          <ng-template #errorTemplate>
            <ng-container *ngIf="errorMessage"> <!--; else loading-->
              <div class="alert alert-danger alert-with-icon alert-dismissible">
                <span class="tim-icons icon-alert-circle-exc" data-notify="icon"></span>
                <span>
                  <b>
                  Error! -
                  </b>
                  {{errorMessage}}
                </span>
              </div>
            </ng-container>
            <!--<ng-template #loading>
              <div class="d-flex align-items-center justify-content-center">
                <div class="spinner-grow text-dark" role="status"></div>
              </div>
            </ng-template>-->
          </ng-template>
          <ng-container *ngIf="accountObservable | async as accountDetails; else errorTemplate">

            <div class="card_b ">
              <div class="card__front card__part">
                <p class="card_numer">**** **** **** {{accountDetails.id | slice: accountDetails.id.length-4:accountDetails.id.length}}</p>
                <div class="card__space-75">
                  <span class="card__label">Balance</span>
                  <p class="card__info">{{accountDetails.balance | number:"1.2-2"}} Dhs</p>
                </div>
                <div class="card__space-25">
                  <span class="card__label">Expires</span>
                  <p class="card__info">10/25</p>
                </div>
              </div>

              <div class="card__back card__part">
                <div class="card__black-line"></div>
                <div class="card__back-content">
                  <div class="card__secret">
                    <p class="card__secret--last">420</p>
                  </div>

                </div>
              </div>

            </div>

            <table class="table">
              <thead>
              <tr class="text-center">
                <th>ID</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <!-- <th>Description</th> -->
              <tr>
              </thead>
              <tbody>
              <tr *ngFor="let op of accountDetails.operationDTOS">
                <td class="text-center">{{op.id}}</td>
                <td class="text-center">{{op.operationDate | date : 'dd-MM-yyyy'}}</td>
                <td class="text-center">
                    <span [ngClass]="op.type=='DEBIT'?' badge badge-pill bg-danger': ' badge badge-pill bg-success'">
                      {{op.type}}
                    </span>
                </td>
                <td class="text-center">{{op.amount | number:"1.2-2"}} Dhs</td>
                <!-- <td>{{op.description}}</td> -->
              </tr>
              </tbody>
            </table>

            <nav aria-label="Blog page navigation">
              <ul class="pagination">
                <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page=index">
                  <a [ngClass]="page==currentPage?'page-item active': 'page-item'"
                     (click)="gotoPage(page)" class="btn btn-outline-primary ms-1 mt-1">{{page}}</a>
                </li>
              </ul>
            </nav>
            <!--<ul class="nav nav-pills  justify-content-center">
              <li *ngFor="let item of [].constructor(accountDetails.totalPages); let page=index">
                <a [ngClass]="page==currentPage?'btn-info btn-sm': 'btn btn-outline-info btn-sm'"
                   (click)="gotoPage(page)" class="btn btn-outline-info ms-1 mt-1">{{page}}</a>
              </li>
            </ul>-->
          </ng-container>
        </div>
      </div>
    </div>

    <br>

    <div class="col">
      <div class="card" *ngIf="accountObservable">
        <div class="card-header">Operations</div>
        <div class="card-body">
          <form [formGroup]="operationFormGroup" (ngSubmit)="handleAccountOperations()" method="post">
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="operationType" value="DEBIT"> Debit
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="operationType" value="CREDIT"> Credit
                <span class="form-check-sign"></span>
              </label>
            </div>
            <div class="form-check form-check-radio form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" formControlName="operationType" value="TRANSFER"> Transfer
                <span class="form-check-sign"></span>
              </label>
            </div>
            <br><br>
            <div class="mb-3" *ngIf="operationFormGroup.value.operationType == 'TRANSFER'">
              <label class="form-label">Recepient Account :</label>
              <input type="text" formControlName="recipientAccount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Amount :</label>
              <input type="text" formControlName="amount" class="form-control">
            </div>
            <div class="mb-3">
              <label class="form-label">Description :</label>
              <input type="text" formControlName="description" class="form-control">
            </div>
            <div class="d-grid mt-2">
              <button class="btn btn-success">Save</button>
            </div>


          </form>
        </div>
      </div>

    </div>


</div>

