<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
    <meta charset="UTF-8">
    <title>Patients</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">Patients List</div>
            <div class="card-body">
                <form method="get" th:action="@{index}">
                    <label>Keyword</label>
                    <input type="text" name="keyword" th:value="${keyword}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>
                <div claass="row">
                    <div class="col-lg-3">
                        <a th:href="@{/patients/new}" class="btn btn-primary btn-sm mb-3"><i class="fa fa-plus"/></a>
                    </div>
                </div>
                <table class="table">
                    <thead class="table-dark">
                    <tr>
                        <th>ID</th><th>Nom</th><th>Date</th><th>Sick</th><th>Score</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${patientslist}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.name}"></td>
                        <td th:text="${p.birthDate}"></td>
                        <td th:text="${p.sick}"></td>
                        <td th:text="${p.score}"></td>
                        <td>
                            <a th:href="@{patients/edit/{id}(id=${p.id})}" class="btn btn-primary"><i class="fa-solid fa-pen"></i></a>
                        </td>
                        <td>
                            <a onclick="return confirm('Do you really want to delete this patient ?')" class="btn btn-danger fa-solid fa-trash" th:href="@{delete(id=${p.id}, keyword=${keyword},page=${currentPage})}"></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <ul class="nav nav-pills">
                    <li th:each="page, status:${pages}">
                        <a th:class="${status.index==currentPage?'btn btn-primary ms-1':'btn btn-outline-primary ms-1'}"
                           th:text="${status.index + 1}"
                            th:href="@{index(page=${status.index}, keyword=${keyword})}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>